@use "../abstract/variable" as *;
@use "../abstract/mixins" as *;

.about-intro {
  width: 100%;
  display: grid;
  grid-row-gap: 2rem;

  @include breakpoints(mq-l) {
    grid-row-gap: 0;
    grid-template-columns: calc(60% - 4rem) 40%;
    grid-column-gap: 4rem;
  }

  @media only screen and (min-width: 1768px) {
    grid-template-columns: calc(60% - calc(4rem * 1.4)) 40%;
    grid-column-gap: calc(4rem * 1.4);
  }

  @include breakpoints(mq-4xl) {
    grid-template-columns: calc(60% - calc(4rem * 1.5)) 40%;
    grid-column-gap: calc(4rem * 1.5);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
  }

  &__left-box {
    @include breakpoints(mq-l) {
      align-self: flex-end;
    }

    .img-box {
      & > *:last-child {
        display: none;
      }
  
      @include breakpoints(mq-md) {
        margin-top: 4rem;
      }

      @include breakpoints(mq-l) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(15, 6.6%);
        grid-template-rows: repeat(8, 4vmax);
  
        & > *:first-child {
          grid-column-start: 1;
          grid-column-end: 7;
          grid-row-start: 1;
          grid-row-end: 6;
        }
  
        & > *:last-child {
          display: block;
          grid-column-start: 8;
          grid-column-end: -1;
          grid-row-start: 3;
          grid-row-end: -1;
       
        }
      }
  
      @media only screen and (min-width: 1768px) {
        grid-template-rows: repeat(9, 3vmax);
      }

      @include breakpoints(mq-4xl) {
        grid-template-rows: repeat(9, 4vmax);
      }
    }
  }
  

  &__right-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoints(mq-sm) {
      margin-left: 6rem;
    }
    @include breakpoints(mq-md) {
      margin-left: 7rem;
    }

    @include breakpoints(mq-l) {
      align-items: flex-start;
      margin-left: 0;
    }

    img {
      display: none;

      @include breakpoints(mq-l) {
        display: block;
        margin-bottom: 4rem;
        max-height: 50rem;
        object-fit: cover;
        object-position: top center;
      }

      @media only screen and (min-width: 1768px) {
        max-height: 60rem;
      }

      @include breakpoints(mq-4xl) {
        max-height: unset;
      }
    }
  }
}
